{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pb-3 text-center">
    <h1>Dennys Electronics</h1>
</div>
<div class="row">
<div class="col-md">
    <div class="card">
        <div class="card-header text-center">
            Jobs
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'jobs:create_job' %}" class="btn btn-primary btn-block">Create Job</a></li>
            <li class="list-group-item"><a href="{% url 'jobs:list_jobs' %}" class="btn btn-primary btn-block">List Jobs</a></li>
        </ul>
    </div>
</div>
<div class="col-md">
    <div class="card">
        <div class="card-header text-center">
            Rides
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'rides:create_ride' %}" class="btn btn-primary btn-block">Create Ride</a></li>    
            <li class="list-group-item"><a href="{% url 'rides:list_rides' %}" class="btn btn-primary btn-block">List Rides</a></li>
        </ul>
    </div>
</div>
<div class="col-md">
    <div class="card">
        <div class="card-header text-center">
            Customers
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'customers:create_customer' %}" class="btn btn-primary btn-block">Create Customer</a></li>
            <li class="list-group-item"><a href="{% url 'customers:list_customers' %}" class="btn btn-primary btn-block">List Customers</a></li>
            <li class="list-group-item"><a href="{% url 'customers:add_rides' %}" class="btn btn-primary btn-block">Add Customers Rides</a></li>

    </div>
</div>
</div>
{% endblock content %}

