{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pb-3 row">
    <h1>Dennys Electronics</h1>
</div>
<div class="row">
            <div class="col-md">
                <a href="#" class="btn btn-lg btn-primary">Create Job</a>
            </div>

            <div class="col-md">
                <a href="#" class="btn btn-lg btn-primary">Create Ride</a>
            </div>

            <div class="col-md">
                <a href="#" class="btn btn-lg btn-primary">Create Customer</a>
            </div>
</div>
<div class="row">
    <div class="btn-group">
        <div class="col-md">
            <a href="#" class="btn btn-lg btn-primary">Create Job</a>
        </div>
        <div class="col-md">
            <a href="#" class="btn btn-lg btn-primary">Create Job</a>
        </div>
        <div class="col-md">
            <a href="#" class="btn btn-lg btn-primary">Create Job</a>
        </div>
</div>
</div>
{% endblock content %}

