{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}All Customers{% endblock title %}

{% block content %}





<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

{% for customer in customers %}
<tr>
    <td>{{ customer.customer_name }}</td>
    <td><a href="{% url 'customers:detail_customer' customer.id %}">Contact</a></td>
    <td><a href=#>Jobs</a></td>
    <td><a href="{% url 'rides:customer_rides' customer.id %}">Rides</a></td>


</tr>
{% endfor %}
  </table>

{% endblock %}